{{> head}}
{{> navbar}}


<div class="row">

 <div class="col-8">
     <h1>Katy perry</h1>
     <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, incidunt labore? Ad impedit incidunt, sapiente, sit at pariatur autem consectetur atque iure labore fugiat odio, dolore iusto nihil dolor explicabo.
     </p>
 </div>
 <h1>

 </h1>

 <div class="col-4">
     <img src="assets/img/8378.jpg" alt="img-thumbnail" width="300" height="300">
 </div>


</div>

{{> footer}}